<div class="card card-body mb-2">
	<form action="/dashboard" method="post">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" name="title" value="{{idea.title}}"></input>
		</div>
		<div class="form-group">
			<label for="status">Select status</label>
			<select class="custom-select" name="status">
				<option value="public" selected>Public</option>
				<option value="private">Private</option>
				<option value="draft">Draft</option>
			</select>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="isComments" name="isComments">
				<label class="custom-control-label" for="isComments">Allow Comments</label>
			</div>
		</div>
		<div class="form-group">
			<label for="details">Details</label>
			<textarea type="text" class="form-control" name="details" value="{{idea.details}}">{{idea.details}}</textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>